body {
  background-color: #aaa;
  text-align: center;
  font-family: 'Baloo Paaji 2';
  --side-padding: 8px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--side-padding);
  background-color: white;
  border-radius: 10px;
}

@media (min-width:801px) { /* landscape tablets, laptops ands desktops */
  .container {
    width: calc(800px - 2*var(--side-padding));
  }
}

@media (max-width:800px) { /* phones, portrait tablets */
  .container {
    width: calc(100% - 2*var(--side-padding));
  }
}

.title {
  font-size: 48px;
}

.youtube {
  margin: 0 -8px;
}

.credit {
  margin-top: 8px;
}
