body {
  background-color: #aaa;
  text-align: center;
  font-family: 'Baloo Paaji 2';
}

.container {
  --side-padding: 8px;
  width: calc(800px - 2*var(--side-padding));
  margin: 0 auto;
  padding: 0 var(--side-padding);
  background-color: white;
  border-radius: 10px;
}

.title { 
  font-size: 48px;
}

.youtube {
  margin: 0 -8px;
}

/************/

.progress {
  --progressbar-height: 30px;
  position: relative;
  background-color: #777;
  border-radius: 4px;
  overflow: hidden;
}

#round_label {
  position: absolute;
  left: 0;
  right:0;
  color: white;
  line-height: var(--progressbar-height);
  font-size: 18px;
  margin-top: 1px;
}

#progress_bar {
  width: 10%;
  background-color: #0b0;
  height: var(--progressbar-height);
}
