body {
  background-color: #aaa;
  text-align: center;
  font-family: 'Baloo Paaji 2';
}

.container {
  --side-padding: 8px;
  width: calc(800px - 2*var(--side-padding));
  margin: 0 auto;
  padding: 0 var(--side-padding);
  background-color: white;
  border-radius: 10px;
}

.title { 
  font-size: 48px;
}

.youtube {
  margin: 0 -8px;
}

/************/

.progress {
  --progressbar-height: 30px;
  position: relative;
  background-color: #aaa;
  border-radius: 4px;
  overflow: hidden;
}

#round_label {
  position: absolute;
  left: 0;
  right:0;
  color: white;
  line-height: var(--progressbar-height);
  font-size: 18px;
  margin-top: 1px;
}

#progress_bar {
  width: 10%;
  background-color: #090;
  height: var(--progressbar-height);
}

/************/
.songs {
  margin-top: 8px;
}

.song {
  text-align: left;
  border-bottom: 1px solid #aaa;
  padding: 0 4px;
}

.song.selected {
  color: #090;
  font-weight: bold;
}

.song .time {
  float: right;
}

.song:last-of-type {
    border-bottom: none;
}

.add-song {
  display: table;
  width: 100%;
  padding: 8px 0;
}

.add-song label {
  display:table-cell;
  width: 1px;
  padding-right: 10px;
  white-space: nowrap;
}

#input_song {
  display:table-cell;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-family: 'Baloo Paaji 2';
  font-size: 14px;
  padding: 0 4px;
  width: calc(100% - 8px);
}