<style>
  :host {
    display: block;
  }

  .songs {
    margin-top: 8px;
  }

  .song {
    text-align: left;
    border-bottom: 1px solid #aaa;
    padding: 2px 4px;
  }

  .song .title {
    cursor: pointer;
  }

  .song .title.selected {
    color: #090;
    font-weight: bold;
  }

  .song .time {
    float: right;
  }

  .add-song {
    display: table;
    width: 100%;
    padding: 8px 0;
  }

  .add-song label {
    display: table-cell;
    width: 1px;
    padding-right: 10px;
    white-space: nowrap;
  }

  #input_song {
    display: table-cell;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-family: 'Baloo Paaji 2';
    font-size: 14px;
    padding: 0 4px;
    width: calc(100% - 8px);
  }
</style>

<div class="songs">
  <template id="song_template">
    <div class="song">
      <span class="title"></span>
      <span class="time"></span>
    </div>
  </template>
</div>
<div class="add-song">
  <label for="input_song">Add song: </label>
  <input id="input_song" type="text" placeholder="E.g. https://www.youtube.com/watch?v=OPf0YbXqDm0" />
</div>