<style>
  :host {
    display: block;
  }

  .progress {
    --progressbar-height: 34px;
    position: relative;
    background-color: #444;
    border-radius: 4px;
    overflow: hidden;
  }
  
  #progress_label {
    position: absolute;
    left: 0;
    right:0;
    color: white;
    line-height: var(--progressbar-height);
    font-size: 20px;
    margin-top: 1px;
  }
  
  #progress_bar {
    width: 0%;
    background-color: #0b0;
    height: var(--progressbar-height);
  }    
</style>
<div class="progress">
  <span id="progress_label"></span>
  <div id="progress_bar"></div>
</div>